<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>LessonPlans</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome To Your Lesson Planner!</h1>
      <% if logged_in? %>
        <a href="/teachers/<%= current_user.slug %>">| My Page</a>
        <a href="/teachers">| All Teachers</a>
        <a href="/lessons/new">| Create A New Lesson</a>
        <a href="/lessons">| View all Lessons</a>
        <a href="/subjects">| View All Subjects</a>
        <a href="/logout">| Log Out |</a>
      <% else %>
        <p><a href="/teachers/new">Sign Up</a> or <a href="/login">Log In</a></p>
      <% end%>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>LessonPlans</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
